* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
:root {
  --base-color: #131313;
  --primary-color: rgb(255, 255, 43);
  --secondary-color: rgb(0, 66, 186);
}

.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0px auto;
}

#navbar__logo {
  /*background-color: rgb(255, 255, 43);
  background-image: linear-gradient(
    180deg,
    rgb(255, 255, 43) 36%,
    rgb(0, 66, 186) 60%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  padding-left: 3%;
  */


  width: auto;
}
.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}
.navbar__item {
  height: 80px;
}
.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  text-decoration: none;
  height: 100%;
  transition: all 0.5s;
}

.navbar__links:hover {
   color: var(--primary-color);
  transition: all 0.3s;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #131313;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  background: var(--secondary-color);
  background: -webkit-linear-gradient(
    to left,
    var(--secondary-color),
    var(--primary-color)
  );
  background: linear-gradient(
    to left,
    var(--secondary-color),
    var(--primary-color)
  );
  border-radius: 10px;
}

.button:hover {
  color: #fff;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    padding: 0px;
  }

  #navbar__logo{
    padding-left: 15px;
  }
  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    position: absolute;
    top: -1000px;
    z-index: -1;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .navbar__menu.active {
    top: 100%;
    grid-template-columns: auto;
    height: auto;
    z-index: 99;
    transition: all 0.3s ease-in-out;
    background-color: black;

  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    border-radius: 10px;
    display: block;
    cursor: pointer;
  }
  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  #mobile-menu.is_active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is_active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is_active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar__item {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .navbar__links {
    width: 100%;
    padding: 0.5rem;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin: 0;
  }
}
